<?xml version='1.0' encoding='utf-8'?>
<widget id="com.devbaltasarq.naufrago" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Náufrago</name>
    <description>
        29 de Septiembre de 1994. El ferry ”Estonia” se hunde en el mar Báltico, llevándose consigo 850 personas.

        A pesar de cumplir con todas las normas de seguridad, la temperatura del agua, extremadamente baja, unida a la rapidez con la que se hundió el navío, hicieron imposible que la mayoría del pasaje se salvara.

        Las circunstancias del hundimiento continúan siendo un misterio. Algunos testimonios afirman que la compuerta de acceso para vehículos se abrió por alguna circunstancia, haciendo que el ferry se inundara rápidamente. La compuerta había pasado los chequeos de seguridad sin aparentes fallos.

        Posteriores investigaciones revelaron que la causa del hundimiento podría estar relacionada con el contrabando de armas desde Rusia...

        Despiertas en un bote salvavidas, en el que deberás sobrevivir.
    </description>
    <author email="baltasarq@gmail.com" href="http://baltasarq.info/">
        Baltasar
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <!--
        	ldpi    : 36x36 px
        	mdpi    : 48x48 px
        	hdpi    : 72x72 px
        	xhdpi   : 96x96 px
        	xxhdpi  : 144x144 px
        	xxxhdpi : 192x192 px
    	-->

        <icon density="ldpi" src="res/icon/android/lifesaver-ldpi.png" />
        <icon density="mdpi" src="res/icon/android/lifesaver-mdpi.png" />
        <icon density="hdpi" src="res/icon/android/lifesaver-hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/lifesaver-xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/lifesaver-xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/lifesaver-xxxhdpi.png" />

        <icon src="res/icon/android/lifesaver.png" />
        <splash src="res/icon/android/lifesaver.png" />
    </platform>
</widget>
